node_modules/
# База данных - НЕ коммитим в Git!
# База данных создается на сервере в директории data/
# На Render файлы в рабочей директории должны сохраняться между деплоями
data/
subscriptions.db
# .env
*.log
.DS_Store
